
@{
    ViewBag.Title = "List";
}

<h2>List Of Available Channels</h2>
@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}
<table class="table table-bordered">
    <tr>
        <th>Channel ID</th>
        <th>Channel Name</th>
        <th>Established Year</th>
        <th>Country</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ChannelId</td>
            <td>@item.ChannelName</td>
            <td>@item.EstablishedYear</td>
            <td>@item.Country</td>
            <td>
                <a href="/channel/edit/@item.ChannelId" class="btn btn-primary">Edit</a>
                <a href="/channel/delete/@item.ChannelId" class="btn btn-danger">Delete</a>
                <a href="@Url.Action("Create", "Program", new { channelId = item.ChannelId })" class="btn btn-warning">Add Program</a>
            </td>
        </tr>
    }
</table>
<h6>Create New Channel</h6>
<a href="/channel/create" class="btn btn-success">Create</a>