
@{
    ViewBag.Title = "CreateProgram";
}

<h2>CreateProgram</h2>

<form method="post">
    <span>Program Name</span>
    <input type="text" name="ProgramName" class="form-control" value="@Model.ProgramName" />
    <span>Air Time</span>
    <input type="time" name="AirTime" class="form-control" value="@Model.AirTime" />
    <span>TRP Score</span>
    <input type="text" name="TRPScore" inputmode="decimal" pattern="[0-9][.]?[0-9]"  class="form-control" value="@Model.TRPScore" />
    <span>Channel</span>
    <select name="ChannelId" class="form-control">
        @foreach(var item in ViewBag.channels)
        {
            <option value="@item.ChannelId">@item.ChannelName</option>
        }
    </select>
    <br/>
    <input type="submit" value="create" class="btn btn-primary" />
    <a href="/program/ProgramList" class="btn btn-warning">Back</a>
</form>