
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form method="post">

    <input type="hidden" name="CustomerId" value="@Model.CustomerId" />
    <input type="text" name="FirstName" value="@Model.FirstName" placeholder="FirstName" class="form-control" />

    <span class="text-danger">@Html.ValidationMessage("FirstName")</span><br />

    <input type="text" name="LastName" value="@Model.LastName" placeholder="LastName" class="form-control" />

    <span class="text-danger">@Html.ValidationMessage("LastName")</span><br />

    <input type="text" name="Email" value="@Model.Email" placeholder="Email" class="form-control" />

    <span class="text-danger">@Html.ValidationMessage("Email")</span><br />

    <input type="text" name="Phone" value="@Model.Phone" placeholder="Phone" class="form-control" />

    <span class="text-danger">@Html.ValidationMessage("Phone")</span><br />

    <input type="text" name="Address" value="@Model.Address" placeholder="Address" class="form-control" />

    <span class="text-danger">@Html.ValidationMessage("Address")</span><br />

    <input type="date" name="DateJoined" value="@Model.DateJoined" placeholder="@Model.DateJoined" class="form-control" readonly />

    <input type="submit" value="Update" class="btn btn-primary" />

</form>
