@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table table-bordered">

    <tr>
        <th>Customer ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Join Date</th>
        <th>Actions</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.CustomerId</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Email</td>
            <td>@item.Address</td>
            <td>@item.Phone</td>
            <td>@item.DateJoined</td>
            <td>
                 <a href="/customer/edit/@item.CustomerId" class="btn btn-primary">Edit</a> 
                 <a href="/customer/details/@item.CustomerId" class="btn btn-primary">Details</a> 
                 <a href="/customer/delete/@item.CustomerId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
    </table>
        <h4>To create new customer</h4>
        <a href="/customer/create" class="btn btn-primary">Create</a>